
<div ui-view></div>

@section scripts{
    <script src="~/js/controllers/customer/view-customer-controller.js"></script>
    <script src="~/js/controllers/customer/add-customer-controller.js"></script>
    <script src="~/js/controllers/customer/customer-details-controller.js"></script>
}