* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

/* Common: paddings and margins */
.side-padding-none {
    padding-left: 0;
    padding-right: 0;
}

.left-padding-none {
    padding-left: 0;
}

.right-padding-none {
    padding-right: 0;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 300px;
}

/* Front page logo */
.logo {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    width: 14%;
    background: #fafafa;
    border-right: 1px solid #ddd;
    height: 100%;
    padding: 0;
    color: #888;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

    .sidebar li {
        border-top: 1px solid #ccc;
    }

        .sidebar li.header {
            background: #eee;
            padding: 8px 10px;
        }

        .sidebar li.item {
            padding: 6px 14px;
        }

            .sidebar li.item:last-child {
                border-bottom: 1px solid #ccc;
            }

        .sidebar li a {
            text-decoration: none;
        }

.sidebar-active {
    background: #fff;
    color: #333;
    font-weight: bold;
    margin-right: -1px;
}

/* Loading control */
.loading-indicator {
    position: fixed;
    width: 120px;
    text-align: center;
    left: 40%;
    padding: 4px 8px;
    border: 1px solid #ccc;
    background-color: #ffff99;
    font-weight: bold;
}

/* Summary page */
.summary-table {
    border: 1px solid #ccc;
}

    .summary-table th {
        background-color: #6faced;
    }

        .summary-table th a {
            color: #fefefe;
        }
