* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

hr {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Login */
.login-container {
    margin: 0 auto;
    width: 25%;
}

.login-header {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #008080;
}

.login-form {
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #ffffec;
    padding: 0 25px 20px 25px;
}

.login-footer {
    color: #aaa;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

/* Common: paddings and margins */
.side-padding-none {
    padding-left: 0;
    padding-right: 0;
}

.left-padding-none {
    padding-left: 0;
}

.right-padding-none {
    padding-right: 0;
}

.vertical-margin-none {
    margin-top: 0;
    margin-bottom: 0;
}

.left-margin-sm {
    margin-left: 10px;
}

.bottom-margin-sm {
    margin-bottom: 10px;
}

/* Overrides */
.form-control, .input-group, .input-group-addon {
    border-radius: 0 !important;
}

input,
select,
textarea {
    max-width: 400px;
}

.btn-primary {
    background: rgba(0,154,154,1);
}

    .btn-primary:hover {
        background: rgba(0,128,128,1);
    }

.table-striped > tbody > tr:nth-of-type(odd) {
    background: #fff;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background: #f9f9f9;
}

/* Front page logo */
.logo {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.navbar-brand {
    padding: 6px 15px !important;
    font-weight: bold;
}

.nav a:hover {
    color: #00b3b3 !important;
}

.nav-active a {
    color: #00b3b3 !important;
}

.logged-user {
    padding-right: 15px;
    color: #fff;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    width: 14%;
    background: #fafafa;
    border-right: 1px solid #ddd;
    height: 100%;
    padding: 0;
    color: #888;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

    .sidebar li {
        border-top: 1px solid #ccc;
    }

        .sidebar li.header {
            background: #eee;
            padding: 8px 10px;
        }

        .sidebar li.item {
            padding: 6px 14px;
        }

            .sidebar li.item:last-child {
                border-bottom: 1px solid #ccc;
            }

        .sidebar li a {
            color: #00b3b3;
            text-decoration: none;
        }

.sidebar-active {
    background: #fff;
    color: #333;
    font-weight: bold;
    margin-right: -1px;
}

/* Loading control */
.loading-indicator {
    position: fixed;
    width: 140px;
    text-align: center;
    left: 40%;
    padding: 4px 8px;
    border: 1px solid #ccc;
    background-color: #ffff99;
    font-weight: bold;
}

/* Summary page */
.summary-table {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

    .summary-table th {
        /*background-color: #6faced;*/
        background-color: #00b3b3;
    }

        .summary-table th a, .summary-table th span {
            color: #fefefe;
        }

shell-search div {
    margin-bottom: 5px;
}

.active-page a {
    background-color: #00b3b3 !important;
    color: #fefefe !important;
    font-weight: bold;
}

/* Add edit page */
.well {
    background: #fafafa;
}

.input-details-table {
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

    .input-details-table thead tr th.header-actions {
        padding: 0;
        background-color: #fff;
        text-align: left;
    }

    .input-details-table thead tr.header {
        background: #f9f9f9;
    }

    .input-details-table tbody tr:nth-child(even) {
        background: #f9f9f9;
    }

.header-action-button {
    padding: 6px 10px;
    border: 0;
    font-size: small;
    font-weight: normal;
    background: #fff;
    color: #666;
}

.table-action-button {
    border: 0;
    font-weight: normal;
    background: 0;
    padding: 0 4px;
}

    .table-action-button.center-align {
        vertical-align: middle;
    }

    .table-action-button.teal {
        color: teal;
    }

    .table-action-button.red {
        color: red;
    }

    .table-action-button:hover {
        text-decoration: none;
    }


.input-xs {
    height: 25px;
    padding: 2px 10px;
    font-size: smaller;
}

.delivery-summary-box {
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 4px 8px;
}

    .delivery-summary-box.totals {
        border-top: 0;
    }

        .delivery-summary-box.totals ul {
            line-height: 30px;
        }

/* Details page */
dl {
    margin-bottom: 10px;
}

dt {
    background: #fafafa;
    padding: 4px 8px;
    border: 1px solid #ccc;
    margin-top: 2px;
}

dd {
    padding: 4px 0 0 8px;
    border: 1px solid #ccc;
    margin-top: 2px;
}

.details-table {
    border: 1px solid #ccc;
}

    .details-table th {
        background: #fafafa;
    }

.details-box {
    border: 1px solid #aaa;
    padding: 0;
}

    .details-box .top {
        background: #fafafa;
        text-align: center;
        font-weight: bold;
        padding: 4px 0;
    }

    .details-box .bottom {
        background: #fff;
        text-align: center;
        border-top: 1px solid #aaa;
        padding: 6px 0;
    }

.details-totals {
    margin-bottom: 0;
}

    .details-totals li {
        font-weight: bold;
        padding: 5px 0;
        font-style: italic;
    }

.details-delivery-box {
    border: 1px solid #ccc;
}

    .details-delivery-box label {
        padding: 4px 8px;
    }

    .details-delivery-box table {
        margin-bottom: 0;
    }

    .details-delivery-box ul li {
        padding: 2px 8px;
    }

/* Validation */
.ng-dirty.ng-invalid {
    border-color: red;
}
