<loading-indicator loading-text="Saving"></loading-indicator>
<h3>Save Order Details. <small class="text-muted">Please input order details.</small></h3>
<form name="addOrderForm">
    <div class="well well-sm">
        <div form-input>
            <label>Quantity</label>
            <input type="number" min="0" />
        </div>
        <div form-input>
            <label>Item</label>
            <input type="text" />
        </div>
        <button class="btn btn-primary" ng-click="ctrl.addOrderDetails()">Add More</button>
    </div>
    <div class="col-md-12 left-padding-none">
        <form-control on-save="ctrl.save()" on-reset="ctrl.reset()"></form-control>
    </div>
</form>