<add-edit-shell>
    <shell-title>
        <h3>Return Items / Credit Memo.</h3>
    </shell-title>
    <shell-form>
        <form name="addReturnForm">
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Credit Memo Code</label>
                    <input type="text" ng-model="ctrl.order.code" focus-me="ctrl.defaultFocus" />
                </div>
                <div form-input>
                    <label>Customer</label>
                    <select ng-model="ctrl.order.customerId" ng-options="customer.id as customer.name for customer in ctrl.customerList"></select>
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Return Date</label>
                    <input type="date" ng-model="ctrl.order.date" />
                </div>
                <div form-input>
                    <label>Due Date</label>
                    <input type="date" ng-model="ctrl.order.dueDate" />
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div>
                    <label class="control-label">Discount</label>
                    <discount-control discount-percent="ctrl.order.discountPercent" discount-amount="ctrl.order.discountAmount"></discount-control>
                </div>
                <div form-input>
                    <label>Total Amount</label>
                    <input type="text" ng-model="ctrl.order.totalAmount" numeric-textbox="{ currencySymbol: '₱ '}" readonly />
                </div>
            </div>
        </form>
    </shell-form>
</add-edit-shell>