<add-edit-shell>
    <shell-title>
        <h3>Make a Quotation.</h3>
    </shell-title>
    <shell-form>
        <form name="ctrl.quotationForm">
            <form-subheader header-text="Quotation Info."></form-subheader>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Quote Number</label>
                    <input type="text" ng-model="ctrl.quotation.code" focus-me="ctrl.defaultFocus" />
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Date</label>
                    <input type="date" ng-model="ctrl.quotation.date" />
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Delivery Fee</label>
                    <input type="text" ng-model="ctrl.quotation.deliveryFee" numeric-textbox="{ currencySymbol: '₱ '}" />
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Total</label>
                    <input type="text" ng-model="ctrl.quotation.total" numeric-textbox="{ currencySymbol: '₱ '}" readonly />
                </div>
            </div>
            <h4>
                <i class="fa fa-caret-right"></i>
                <span>Customer Info.</span>
                <span class="btn-group btn-group-xs" style="margin-top: -7px;">
                    <button class="btn btn-default" ng-disabled="!ctrl.isExistingCustomer" ng-click="ctrl.toggleCustomer(false)">New</button>
                    <button class="btn btn-default" ng-disabled="ctrl.isExistingCustomer" ng-click="ctrl.toggleCustomer(true)">Existing</button>
                </span>
            </h4>
            <div ng-show="!ctrl.isExistingCustomer">
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Customer Name</label>
                        <input type="text" ng-model="ctrl.order.code" focus-me="ctrl.customerNameFocus" />
                    </div>
                </div>
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Email</label>
                        <input type="text" ng-model="ctrl.order.code" />
                    </div>
                </div>
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Contact Number</label>
                        <input type="text" ng-model="ctrl.order.code" />
                    </div>
                </div>
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Contact Person</label>
                        <input type="text" ng-model="ctrl.order.code" />
                    </div>
                </div>
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Address</label>
                        <input type="text" ng-model="ctrl.order.code" />
                    </div>
                </div>
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Provice</label>
                        <input type="text" ng-model="ctrl.order.code" />
                    </div>
                </div>
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>City</label>
                        <input type="text" ng-model="ctrl.order.code" />
                    </div>
                </div>
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Terms</label>
                        <input type="text" ng-model="ctrl.order.code" />
                    </div>
                </div>
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Discount</label>
                        <input type="text" ng-model="ctrl.order.code" />
                    </div>
                </div>
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Price List</label>
                        <select ng-model="ctrl.order.priceList">
                            <option value="1">Main Price</option>
                            <option value="2">Walk-In Price</option>
                            <option value="3">N.E. Price</option>
                        </select>
                    </div>
                </div>
            </div>
            <div ng-show="ctrl.isExistingCustomer">
                <div class="col-md-3 left-padding-none">
                    <div form-input>
                        <label>Customer</label>
                        <select ng-options="customer.id as customer.name for customer in ctrl.customerList" ng-model="ctrl.quotation.customerId" focus-me="ctrl.existingCustomerFocus"></select>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <form-subheader header-text="Quotation Items."></form-subheader>
            <table class="table table-condensed input-details-table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="detail in ctrl.quotationDetails track by $index">
                        <td>
                            <select class="form-control input-sm" ng-model="detail.selectedItem" ng-options="item.codeName for item in ctrl.itemList" focus-me="i.focus"></select>
                        </td>
                        <td>
                            <input class="form-control input-sm" type="number" ng-model="detail.quantity" />
                        </td>
                        <td>
                            <input class="form-control input-sm" type="text" ng-model="detail.unit" />
                        </td>
                        <td>
                            <input class="form-control input-sm" type="text" ng-model="detail.category" />
                        </td>
                        <td>
                            <input class="form-control input-sm" type="text" ng-model="detail.description" />
                        </td>
                        <td>
                            <input class="form-control input-sm" type="text" ng-model="detail.price" />
                        </td>
                        <td>
                            <input class="form-control input-sm" type="text" ng-model="detail.total" />
                        </td>
                        <td>
                            <button class="btn btn-xs btn-default" ng-click="ctrl.addDetail()">
                                <i class="fa fa-plus fa-fw"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </shell-form>
    <shell-controls>
        <button class="btn btn-sm btn-primary" ng-click="ctrl.save()">
            <i class="fa fa-save"></i> Save
        </button>
        <button class="btn btn-sm btn-primary" ng-click="ctrl.saveAndPrint()">
            <i class="fa fa-print"></i> Save &amp; Print
        </button>
        <button class="btn btn-sm btn-default" ng-click="ctrl.reset()">
            <i class="fa fa-times"></i> Reset
        </button>
    </shell-controls>
</add-edit-shell>