<add-edit-shell>
    <shell-title>
        <h3>Return Items / Credit Memo. <small>{{ ctrl.label }}</small></h3>
    </shell-title>
    <shell-form>
        <form name="ctrl.addCreditMemoForm">
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Customer</label>
                    <select ng-model="ctrl.creditMemo.customerId" focus-me="ctrl.defaultFocus" ng-options="customer.id as customer.name for customer in ctrl.customerList"></select>
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Date</label>
                    <input type="date" ng-model="ctrl.creditMemo.date" />
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Driver</label>
                    <input ng-model="ctrl.creditMemo.driver" />
                </div>
            </div>
            <div class="col-md-12 left-padding-none">
                <table class="table table-condensed input-details-table">
                    <thead>
                        <tr>
                            <th colspan="8" class="header-actions">
                                <button ng-click="ctrl.addCreditMemoDetail()" ng-disabled="ctrl.addDetailsDisabled" class="header-action-button"><i class="fa fa-plus"></i> Credit Memo Items</button>
                            </th>
                        </tr>
                        <tr class="header">
                            <th style="width: 15%;">Action</th>
                            <th style="width: 15%;">Order Number</th>
                            <th style="width: 15%;">Item</th>
                            <th class="text-right" style="width: 10%;">Quantity</th>
                            <th style="width: 10%;">Unit</th>
                            <th class="text-right" style="width: 15%;">Unit Price</th>
                            <th class="text-right" style="width: 15%;">Total Price</th>
                            <th style="width: 5%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detail in ctrl.creditMemo.details track by $index" ng-if="!detail.isDeleted" ng-include="'edit'"></tr>
                        <tr no-records ng-if="ctrl.creditMemo.details.length == 0" colspan="8"></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-right" colspan="7">Total Amount : ₱ {{ ctrl.creditMemo.totalAmount | number: 2 }}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </shell-form>
    <shell-controls>
        <save-button on-save="ctrl.save()" is-saving="ctrl.isSaving" is-disabled="!ctrl.addCreditMemoForm.$valid || ctrl.addCreditMemoForm.$pristine"></save-button>
    </shell-controls>
</add-edit-shell>

<script type="text/ng-template" id="edit">
    <td>
        <select class="form-control input-xs" ng-model="detail.shouldAddBackToInventory" focus-me="detail.focus">
            <option value="true">Add to inventory</option>
            <option value="false">Ignore</option>
        </select>
    </td>
    <td ng-if="detail.id == 0">
        <select class="form-control input-xs" ng-model="detail.selectedOrder" ng-options="order.code for order in ctrl.orderList"></select>
    </td>
    <td ng-if="detail.id != 0">
        <input class="form-control input-xs" ng-model="detail.order" readonly />
    </td>
    <td ng-if="detail.id == 0">
        <select class="form-control input-xs" ng-model="detail.selectedOrderDetail" ng-options="orderDetail.itemName for orderDetail in detail.selectedOrder.details"></select>
    </td>
    <td ng-if="detail.id != 0">
        <input class="form-control input-xs" ng-model="detail.item" readonly />
    </td>
    <td><input type="number" ng-model="detail.quantity" class="form-control input-xs text-right" min="1" max="{{ detail.selectedOrderDetail.quantity }}" /></td>
    <td><input class="form-control input-xs" ng-model="detail.unit" readonly /></td>
    <td><input class="form-control input-xs text-right" numeric-textbox="{ currencySymbol: '₱ '}" ng-model="detail.price" readonly /></td>
    <td><input class="form-control input-xs text-right" numeric-textbox="{ currencySymbol: '₱ '}" ng-model="detail.totalPrice" readonly /></td>
    <td class="text-center">
        <button ng-click="ctrl.deleteDetail(detail)" class="table-action-button red"><i class="fa fa-trash"></i></button>
    </td>
</script>