<summary-shell>
    <shell-title>
        <h3>Credit Memo List. <small class="text-muted">Search credit memo.</small></h3>
    </shell-title>
    <shell-search>
        <div search-input>
            <span><i class="fa fa-search fa-fw"></i></span>
            <input placeholder="Search..." focus-me="ctrl.focus" ng-model="ctrl.filters.searchTerm" />
        </div>
        <div search-input>
            <span><i class="fa fa-address-card-o fa-fw"></i></span>
            <select ng-model="ctrl.filters.customerId" ng-options="customer.id as customer.name for customer in ctrl.customerList"></select>
        </div>
        <div search-input>
            <span><i class="fa fa-bars fa-fw"></i></span>
            <select ng-model="ctrl.filters.itemId" ng-options="item.id as item.codeName for item in ctrl.itemList"></select>
        </div>
        <div search-input>
            <span title="Date from"><i class="fa fa-calendar-o fa-fw"></i></span>
            <input type="date" placeholder="Date from" ng-model="ctrl.filters.dateFrom" />
        </div>
        <div search-input>
            <span title="Date to"><i class="fa fa-calendar-o fa-fw"></i></span>
            <input type="date" placeholder="Date to" ng-model="ctrl.filters.dateTo" />
        </div>
        <button class="btn btn-primary btn-sm" ng-click="ctrl.fetchReturns()">
            <i class="fa fa-search"></i> Search
        </button>
        <button class="btn btn-default btn-sm" ng-click="ctrl.clearFilter()">
            <i class="fa fa-times"></i> Clear
        </button>
    </shell-search>
    <shell-table>
        <table class="table table-condensed table-striped summary-table">
            <thead>
                <tr>
                    <th ng-repeat="header in ctrl.headers track by $index" ng-class="header.class">
                        <column-header header-text="{{ header.text }}" header-value="{{ header.value }}" sort="ctrl.filters.sortBy"
                                       sort-direction="ctrl.filters.sortDirection"
                                       fetch-call-back="ctrl.fetchReturns()"></column-header>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in ctrl.summaryResult.items track by c.id">
                    <td>{{ c.code }}</td>
                    <td>{{ c.customer }}</td>
                    <td class="text-center">{{ c.date | date:'MM/dd/yyyy' }}</td>
                    <td>{{ c.driver }}</td>
                    <td class="text-right">₱ {{ c.totalAmount | number: 2 }}</td>
                    <td class="text-center">
                        <summary-controls show-details="true" details-state="orders.creditmemo-detail({ id: {{ c.id }} })" details-title="View credit memo details."
                                          show-edit="true" edit-state="orders.add-creditmemo({ id: {{ c.id }} })" edit-title="Edit this credit memo."
                                          show-delete="true" delete-title="Delete this credit memo.">
                        </summary-controls>
                    </td>
                </tr>
                <tr no-records ng-if="ctrl.summaryResult.items.length == 0" colspan="6"></tr>
            </tbody>
        </table>
    </shell-table>
</summary-shell>