<add-edit-shell>
    <shell-title>
        <h3>Save Delivery. <small>{{ ctrl.label }}</small></h3>
    </shell-title>
    <shell-form>
        <form name="ctrl.addDeliveryForm">
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Province</label>
                    <select ng-options="province.id as province.name for province in ctrl.provinceList"
                            ng-model="ctrl.delivery.provinceId" focus-me="ctrl.defaultFocus"></select>
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>City</label>
                    <select ng-options="city.id as city.name for city in ctrl.citiesList" ng-model="ctrl.delivery.cityId"></select>
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Plate Number</label>
                    <input type="text" ng-model="ctrl.delivery.plateNumber" />
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label>Date</label>
                    <input type="date" ng-model="ctrl.delivery.date" />
                </div>
            </div>
            <div class="col-md-8 left-padding-none">
                <button class="btn btn-sm btn-default" ng-click="ctrl.addDeliveryDetail()">
                    <i class="fa fa-plus"></i> Delivery Items
                </button>
                <div>
                    <ul class="list-unstyled customer-list" ng-repeat="detail in ctrl.delivery.customerOrders track by $index">
                        <li>
                            <i class="fa fa-trash pull-right"></i>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Customer</span>
                                <select class="form-control input-xs" ng-options="customer.name for customer in ctrl.customerList" ng-model="detail.selectedCustomer"></select>
                            </div>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in detail.selectedCustomer.orderDetails track by $index" ng-include="'edit'"></tr>
                                    <tr no-records ng-if="detail.selectedCustomer.orderDetails.length == 0" colspan="2"></tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 left-padding-none">
                <div class="delivery-summary-box">
                    <label>Summary</label>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td>Quantity</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="ctrl.delivery.summary.length == 0"><td colspan="2">No summary to display.</td></tr>
                            <tr ng-repeat="summary in ctrl.delivery.summary track by $index">
                                <td>{{ summary.itemCodeName }}</td>
                                <td>{{ summary.totalQuantity }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="delivery-summary-box totals">
                    <label>Totals</label>
                    <ul class="list-unstyled">
                        <li ng-if="ctrl.delivery.totals.length == 0">No totals to display.</li>
                        <li ng-repeat="total in ctrl.delivery.totals track by $index">{{ total.description }}</li>
                    </ul>
                </div>
            </div>
        </form>
    </shell-form>
    <shell-controls>
        <save-button on-save="ctrl.save()" is-saving="ctrl.isSaving" is-disabled="!ctrl.addDeliveryForm.$valid || ctrl.addDeliveryForm.$pristine"></save-button>
    </shell-controls>
</add-edit-shell>

<script type="text/ng-template" id="edit">
    <td>{{ d.itemCodeNameOrder }}</td>
    <td><input class="form-control input-xs" type="number" ng-model="d.deliverQuantity" max="{{ d.quantity - d.quantityDelivered }}" /></td>
</script>