@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order and Inventory Management System - Ace Plastic Center</title>

    <environment names="Development,Staging">
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @this.Html.Raw(this.JavaScriptSnippet.FullScript)
</head>
<body ng-app="oisys-app">
    @this.RenderBody()

    <environment names="Development">
        <script src="~/js/env.js"></script>
    </environment>
    <environment names="Staging">
        <script src="~/js/env.staging.js"></script>
    </environment>
    <environment names="Development,Staging">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="~/lib/autoNumeric/dist/autoNumeric.js"></script>
        <script src="~/lib/toastr/toastr.js"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>

        <script src="~/js/services/loading-service.js"></script>
        <script src="~/js/services/customer-service.js"></script>
        <script src="~/js/services/reference-service.js"></script>
        <script src="~/js/services/inventory-service.js"></script>
        <script src="~/js/services/order-service.js"></script>
        <script src="~/js/services/delivery-service.js"></script>
        <script src="~/js/services/current-user.js"></script>
        <script src="~/js/services/auth-service.js"></script>
        <script src="~/js/services/form-encode.js"></script>
        <script src="~/js/services/login-redirect.js"></script>
        <script src="~/js/services/token-service.js"></script>

        <script src="~/js/directives/navigation.js"></script>
        <script src="~/js/directives/sidebar.js"></script>
        <script src="~/js/directives/loading-inidicator.js"></script>
        <script src="~/js/directives/column-header.js"></script>
        <script src="~/js/directives/form-input.js"></script>
        <script src="~/js/directives/form-controls.js"></script>
        <script src="~/js/directives/focus-me.js"></script>
        <script src="~/js/directives/no-records.js"></script>
        <script src="~/js/directives/pager.js"></script>
        <script src="~/js/directives/summary-shell.js"></script>
        <script src="~/js/directives/summary-controls.js"></script>
        <script src="~/js/directives/numeric-textbox.js"></script>
        <script src="~/js/directives/add-edit-shell.js"></script>
        <script src="~/js/directives/details-shell.js"></script>
        <script src="~/js/directives/price-toggler.js"></script>
        <script src="~/js/directives/discount-control.js"></script>
        <script src="~/js/directives/search-input.js"></script>

        <script src="~/js/controllers/common/login-controller.js"></script>
        <script src="~/js/controllers/manage/manage-system-controller.js"></script>
        <script src="~/js/controllers/manage/add-category-controller.js"></script>
        <script src="~/js/controllers/manage/view-category-controller.js"></script>
        <script src="~/js/controllers/manage/add-city-controller.js"></script>
        <script src="~/js/controllers/manage/view-city-controller.js"></script>

        <script src="~/js/controllers/customer/manage-customer-controller.js"></script>
        <script src="~/js/controllers/customer/customer-transactions-controller.js"></script>
        <script src="~/js/controllers/customer/view-customer-controller.js"></script>
        <script src="~/js/controllers/customer/add-customer-controller.js"></script>
        <script src="~/js/controllers/customer/customer-details-controller.js"></script>

        <script src="~/js/controllers/inventory/manage-inventory-controller.js"></script>
        <script src="~/js/controllers/inventory/add-item-controller.js"></script>
        <script src="~/js/controllers/inventory/view-item-controller.js"></script>
        <script src="~/js/controllers/inventory/item-details-controller.js"></script>
        <script src="~/js/controllers/inventory/item-adjustment-controller.js"></script>

        <script src="~/js/controllers/order/manage-order-controller.js"></script>
        <script src="~/js/controllers/order/view-order-controller.js"></script>
        <script src="~/js/controllers/order/add-order-controller.js"></script>
        <script src="~/js/controllers/order/order-details-controller.js"></script>

        <script src="~/js/controllers/delivery/manage-delivery-controller.js"></script>
        <script src="~/js/controllers/delivery/view-delivery-controller.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/angular-route/angular-route.min.js"></script>
        <script src="~/lib/autoNumeric/dist/autoNumeric.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/js/env.prod.js"></script>
        <script src="~/js/app.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>