<add-edit-shell>
    <shell-title>
        <h3>Save Item Details. <small class="text-muted">Please input item details.</small></h3>
    </shell-title>
    <shell-form>
        <form name="ctrl.addItemForm">
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label for="code">Item Code</label>
                    <input type="text" ng-model="ctrl.item.code" focus-me="ctrl.defaultFocus" required />
                </div>
                <div form-input>
                    <label for="itemName">Item</label>
                    <input type="text" ng-model="ctrl.item.name" required />
                </div>
                <div form-input>
                    <label for="category">Category</label>
                    <select ng-model="ctrl.item.categoryId" ng-options="category.id as category.name for category in ctrl.categoryList" required></select>
                </div>
                <div form-input>
                    <label for="description">Description</label>
                    <textarea name="description" rows="5" ng-model="ctrl.item.description" />
                </div>
                <div form-input>
                    <label for="weight">Weight</label>
                    <input name="weight" ng-model="ctrl.item.weight" />
                </div>
                <div form-input>
                    <label for="thickness">Thickness</label>
                    <input name="thickness" ng-model="ctrl.item.thickness" />
                </div>
            </div>
            <div class="col-md-2 left-padding-none">
                <div form-input>
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity" class="text-right" ng-model="ctrl.item.quantity" min="0"
                           ng-disabled="ctrl.item.id != 0" required />
                </div>
                <div form-input>
                    <label for="unit">Unit</label>
                    <input name="unit" ng-model="ctrl.item.unit" />
                </div>
                <div form-input>
                    <label for="mainPrice">Main Price</label>
                    <input name="mainPrice" numeric-textbox="{ currencySymbol: '₱ '}" class="text-right" ng-model="ctrl.item.mainPrice" />
                </div>
                <div form-input>
                    <label for="walkInPrice">Walk-In Price</label>
                    <input name="walkInPrice" numeric-textbox="{ currencySymbol: '₱ '}" class="text-right" ng-model="ctrl.item.walkInPrice" />
                </div>
                <div form-input>
                    <label for="nePrice">N.E. Price</label>
                    <input name="nePrice" numeric-textbox="{ currencySymbol: '₱ '}" class="text-right" ng-model="ctrl.item.nePrice" />
                </div>
            </div>
        </form>
    </shell-form>
    <shell-controls>
        <save-button on-save="ctrl.save()" is-saving="ctrl.isSaving" is-disabled="!ctrl.addItemForm.$valid || ctrl.addItemForm.$pristine"></save-button>
    </shell-controls>
</add-edit-shell>