<summary-shell>
    <shell-title>
        <h3>Inventory. <small class="text-muted">Search items.</small></h3>
    </shell-title>
    <shell-search>
        <div search-input>
            <span><i class="fa fa-search fa-fw"></i></span>
            <input placeholder="Search..." focus-me="ctrl.focus" ng-model="ctrl.filters.searchTerm" />
        </div>
        <div search-input>
            <span title="Filter by category"><i class="fa fa-file-o fa-fw"></i></span>
            <select ng-model="ctrl.filters.categoryId" ng-options="category.id as category.name for category in ctrl.categoryList"></select>
        </div>
        <button class="btn btn-primary btn-sm" ng-click="ctrl.fetchItems()">
            <i class="fa fa-search"></i> Search
        </button>
        <button class="btn btn-default btn-sm" ng-click="ctrl.clearFilter()">
            <i class="fa fa-times"></i> Clear
        </button>
    </shell-search>
    <shell-table>
        <table class="table table-condensed table-striped summary-table">
            <thead>
                <tr>
                    <th ng-repeat="header in ctrl.headers track by $index" ng-class="header.class">
                        <column-header header-text="{{ header.text }}" header-value="{{ header.value }}" sort="ctrl.filters.sortBy"
                                       sort-direction="ctrl.filters.sortDirection"
                                       fetch-call-back="ctrl.fetchItems()"></column-header>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in ctrl.summaryResult.items track by c.id">
                    <td>{{ c.code }}</td>
                    <td>{{ c.name }}</td>
                    <td>{{ c.categoryName }}</td>
                    <td class="text-right">{{ c.currentQuantity | number: 0 }} {{ c.unit }}</td>
                    <td class="text-right">{{ c.actualQuantity | number: 0 }} {{ c.unit }}</td>
                    <td class="text-right">₱ {{ c.mainPrice | number: 2 }}</td>
                    <td class="text-right">₱ {{ c.walkInPrice | number: 2 }}</td>
                    <td class="text-right">₱ {{ c.nePrice | number: 2 }}</td>
                    <td class="text-center">
                        <summary-controls show-details="true" details-state="inventory.detail({ id: {{ c.id }} })" details-title="View item details."
                                          show-edit="true" edit-state="inventory.add({ id: {{ c.id }} })" edit-title="Edit this item."
                                          show-delete="true" on-delete="ctrl.delete(c.id)" delete-title="Delete this item.">
                        </summary-controls>
                    </td>
                </tr>
                <tr no-records ng-if="ctrl.summaryResult.items.length == 0" colspan="10"></tr>
            </tbody>
        </table>
    </shell-table>
</summary-shell>