<summary-shell>
    <shell-title>
        <h3>Customer Accounts. <small class="text-muted">Search customer details & accounts.</small></h3>
    </shell-title>
    <shell-search>
        <div search-input>
            <span><i class="fa fa-search fa-fw"></i></span>
            <input placeholder="Search..." focus-me="ctrl.focus" ng-model="ctrl.filters.searchTerm" />
        </div>
        <div search-input>
            <span><i class="fa fa-map-o fa-fw"></i></span>
            <select ng-model="ctrl.filters.cityId" ng-options="city.id as city.code for city in ctrl.cityList"></select>
        </div>
        <div search-input>
            <span><i class="fa fa-map-o fa-fw"></i></span>
            <select ng-model="ctrl.filters.provinceId" ng-options="province.id as province.code for province in ctrl.provinceList"></select>
        </div>
        <button class="btn btn-primary btn-sm" ng-click="ctrl.fetchCustomers()">
            <i class="fa fa-search"></i> Search
        </button>
        <button class="btn btn-default btn-sm" ng-click="ctrl.clearFilter()">
            <i class="fa fa-times"></i> Clear
        </button>
    </shell-search>
    <shell-table>
        <table class="table table-condensed table-striped summary-table">
            <thead>
                <tr>
                    <th ng-repeat="header in ctrl.headers track by $index" ng-class="header.class">
                        <column-header header-text="{{ header.text }}" header-value="{{ header.value }}" sort="ctrl.filters.sortBy"
                                       sort-direction="ctrl.filters.sortDirection"
                                       fetch-call-back="ctrl.fetchCustomers()"></column-header>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in ctrl.summaryResult.items track by c.id">
                    <td>{{ c.code }}</td>
                    <td>{{ c.name }}</td>
                    <td>{{ c.email }}</td>
                    <td>{{ c.cityName }}</td>
                    <td>{{ c.provinceName }}</td>
                    <td>{{ c.contactPerson }}</td>
                    <td>{{ c.contactNumber }}</td>
                    <td class="text-center">
                        <summary-controls show-details="true" details-state="customers.detail({ id: {{ c.id }} })" details-title="View customer details."
                                          show-edit="true" edit-state="customers.add({ id: {{ c.id }} })" edit-title="Edit this customer." 
                                          show-delete="true" delete-title="Delete this customer.">
                        </summary-controls>
                    </td>
                </tr>
                <tr no-records ng-if="ctrl.summaryResult.items.length == 0" colspan="8"></tr>
            </tbody>
        </table>
    </shell-table>
</summary-shell>