<loading-indicator></loading-indicator>
<sidebar show-add="true" add-url="#!/add/customer/0" add-tooltip="Add new customer" show-search="true" show-export="true" show-send="true"></sidebar>
<div class="body-content">
    <h3>Customer Accounts. <small class="text-muted">Search customer details & accounts.</small></h3>
    <table class="table table-condensed table-striped summary-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Customer Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Province</th>
                <th>Contact Person</th>
                <th>Contact Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in ctrl.customers track by c.id">
                <td>{{ c.code }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.cityId }}</td>
                <td>{{ c.provinceId }}</td>
                <td>{{ c.contactPerson }}</td>
                <td>{{ c.contactNumber }}</td>
                <td>
                    <a ng-href="#!/details/customer/{{ c.id }}" class="btn btn-default btn-xs" title="View customer details">
                        <i class="fa fa-file-o fa-fw"></i>
                    </a>
                    <a ng-href="#!/add/customer/{{ c.id }}" class="btn btn-default btn-xs" title="Edit this customer">
                        <i class="fa fa-edit fa-fw"></i>
                    </a>
                    <button class="btn btn-danger btn-xs" title="Delete this customer">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
