<add-edit-shell>
    <shell-title>
        <h3>Save Province. <small class="text-muted">Please input province details.</small></h3>
    </shell-title>
    <shell-form>
        <form name="ctrl.addProvinceForm" novalidate>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label for="province">Province</label>
                    <input type="text" name="province" ng-model="ctrl.province.name" focus-me="ctrl.defaultFocus" required />
                </div>
                <table class="table table-condensed input-details-table">
                    <thead>
                        <tr>
                            <th colspan="2" class="header-actions">
                                <button ng-click="ctrl.addCity()" class="header-action-button"><i class="fa fa-plus"></i> City</button>
                            </th>
                        </tr>
                        <tr class="header">
                            <th width="90%">City</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="city in ctrl.province.cities track by $index" ng-if="!city.isDeleted" ng-include="'edit'"></tr>
                        <tr no-records ng-if="ctrl.province.cities.length == 0" colspan="2"></tr>
                    </tbody>
                </table>
            </div>
        </form>
    </shell-form>
    <shell-controls>
        <save-button on-save="ctrl.save()" is-saving="ctrl.isSaving" is-disabled="!ctrl.addProvinceForm.$valid || ctrl.addProvinceForm.$pristine"></save-button>
    </shell-controls>
</add-edit-shell>

<script type="text/ng-template" id="edit">
    <td><input type="text" ng-model="city.name" class="form-control input-xs" focus-me="city.focus" /></td>
    <td>
        <button ng-click="ctrl.removeCity(city)" class="table-action-button red"><i class="fa fa-trash"></i></button>
    </td>
</script>