<loading-indicator></loading-indicator>
<h3>Provinces / Cities. <small class="text-muted">Search province / city.</small></h3>
<div class="form-inline bottom-margin-sm">
    <input class="form-control input-sm" placeholder="Search province or city..." ng-model="ctrl.search" focus-me="ctrl.focus" />
    <button class="btn btn-default btn-sm" ng-click="ctrl.fetchCities()">
        <i class="fa fa-search"></i>
    </button>
</div>
<table class="table table-condensed table-striped summary-table">
    <thead>
        <tr>
            <th>
                <column-header header-text="Province" header-value="Parent.Code" sort="ctrl.sort" sort-direction="ctrl.sortDirection"
                               fetch-call-back="ctrl.fetchCities()"></column-header>
            </th>
            <th>
                <column-header header-text="City" header-value="Code" sort="ctrl.sort" sort-direction="ctrl.sortDirection"
                               fetch-call-back="ctrl.fetchCities()"></column-header>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in ctrl.provinces track by c.id">
            <td>{{ c.parentCode }}</td>
            <td>{{ c.code }}</td>
            <td>
                <a ui-sref="system.add-city({ id: c.id })" class="btn btn-default btn-xs" title="Edit this province">
                    <i class="fa fa-edit fa-fw"></i>
                </a>
                <button class="btn btn-danger btn-xs" title="Delete this province">
                    <i class="fa fa-trash-o fa-fw"></i>
                </button>
            </td>
        </tr>
        <tr ng-if="ctrl.provinces.length == 0">
            <td colspan="3">No records found.</td>
        </tr>
    </tbody>
</table>