<navigation></navigation>
<div style="margin-top: 50px;">
    <ul class="sidebar">
        <li class="header">
            <i class="fa fa-address-book-o"></i> Customer Accounts
        </li>
        <li class="item">
            <a ui-sref=".customers-add({ id: 0 })">
                <i class="fa fa-plus"></i> Add New Customer
            </a>
        </li>
        <li class="item">
            <a ui-sref=".customers-list">
                <i class="fa fa-search"></i> Search Customers
            </a>
        </li>
        <li class="header">
            <i class="fa fa-map-pin"></i> Cities / Provinces
        </li>
        <li class="item">
            <i class="fa fa-plus"></i> Add New City
        </li>
        <li class="item">
            <i class="fa fa-search"></i> Search Cities
        </li>
        <li class="header">
            <i class="fa fa-bookmark"></i> Categories
        </li>
        <li class="item"><i class="fa fa-plus"></i> Add New Category</li>
        <li class="item"><i class="fa fa-search"></i> Search Categories</li>
        <li class="header">
            <i class="fa fa-user"></i> Users
        </li>
        <li class="item"><i class="fa fa-plus"></i> Add New User</li>
        <li class="item"><i class="fa fa-search"></i> Search Users</li>
    </ul>
    <div style="margin-left: 14%; padding: 5px 20px;" ui-view></div>
</div>
