<loading-indicator loading-text="Processing"></loading-indicator>
<div ng-transclude="title"></div>
<hr />
<div class="col-md-12 bottom-margin-sm left-padding-none right-padding-none">
    <div ng-transclude="form"></div>
</div>
<div class="col-md-12 left-padding-none" ng-if="!ctrl.overrideDefaultControls">
    <form-control on-save="ctrl.save()" on-reset="ctrl.reset()"></form-control>
</div>
<div class="col-md-12 left-padding-none" ng-if="ctrl.overrideDefaultControls">
    <div ng-transclude="controls"></div>
</div>