<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img class="img-responsive img-rounded right-margin-sm pull-left" src="/images/logo-trans.png" width="40" height="40" />
                <ul class="list-unstyled pull-left">
                    <li><span class="logo">Ace Plastic Center</span></li>
                    <li><small>Orders &amp; Inventory Manager</small></li>
                </ul>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="nav-active">
                    <a ui-sref="home">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li ui-sref-active="nav-active">
                    <a ui-sref="inventory">
                        <i class="fa fa-database"></i> Inventory
                    </a>
                </li>
                <li ui-sref-active="nav-active">
                    <a ui-sref="orders">
                        <i class="fa fa-files-o"></i> Orders
                    </a>
                </li>
                <li ui-sref-active="nav-active">
                    <a ui-sref="deliveries">
                        <i class="fa fa-truck"></i> Deliveries
                    </a>
                </li>
                <li ui-sref-active="nav-active">
                    <a ui-sref="customers">
                        <i class="fa fa-address-card-o"></i> Customer Accounts
                    </a>
                </li>
                <li ui-sref-active="nav-active">
                    <a ui-sref="reports">
                        <i class="fa fa-line-chart"></i> Reports
                    </a>
                </li>
                <li ui-sref-active="nav-active">
                    <a ui-sref="system">
                        <i class="fa fa-cogs"></i> System
                    </a>
                </li>
            </ul>
            <div class="navbar-text navbar-right logged-user">
                <i class="fa fa-user"></i> Logged on as User
            </div>
        </div>
    </div>
</nav>